Directions/Directions.UWP/bin
Directions/Directions.UWP/obj
Directions/Directions.Android/bin
Directions/Directions.Android/obj
Directions/Directions.iOS/bin
Directions/Directions.iOS/obj
Directions/Directions/bin
Directions/Directions/obj